div.card-row.docs-landing.layout-align-space-around-center.layout-row.flex
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 빠른시작
          h2.text-headline.text-uppercase Quickstart
          p Angular의 기본 개념을 설명하는 짧은 입문자 가이드
          p A short beginner guide explaining the basic concepts of Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") 빠른시작 살펴보기
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") View Quickstart


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 개발자 가이드
          h2.text-headline.text-uppercase Developer Guide
          p Angular의 주요 기능을 모두 살펴보는 중급 개발 가이드
          p An intermediate development guide covering all major features of Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") 가이드 살펴보기
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") View Guide


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase API 참고문서
          h2.text-headline.text-uppercase API Reference
          p 모든 Angular 클래스, 메소드, 등 심화 단계의 참고문서.
          p An advanced reference of all Angular Classes, Methods, etc.

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") API 살펴보기
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") View API
