<<<<<<< HEAD
div.card-row.docs-landing.layout-align-space-around-center.layout-row.flex
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 빠른시작
          h2.text-headline.text-uppercase Quickstart
          p Angular의 기본 개념을 설명하는 짧은 입문자 가이드
          p A short beginner guide explaining the basic concepts of Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") 빠른시작 살펴보기
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") View Quickstart
=======
- var lang = current.path[1]
- var vers = current.path[2]

.clearfix
  a.card.c4(href="/docs/#{lang}/#{vers}/quickstart.html")
    h2.text-headline.text-uppercase Quickstart
    p A short beginner guide explaining the basic concepts of Angular
>>>>>>> dbcc99c70bdcb36df46e20a2623a9a2424080318

    footer View Quickstart

<<<<<<< HEAD
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 개발자 가이드
          h2.text-headline.text-uppercase Developer Guide
          p Angular의 주요 기능을 모두 살펴보는 중급 개발 가이드
          p An intermediate development guide covering all major features of Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") 가이드 살펴보기
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") View Guide
=======
  a.card.c4(href="/docs/#{lang}/#{vers}/guide/")
    h2.text-headline.text-uppercase Developer Guide
    p An intermediate development guide covering all major features of Angular

    footer View Guide
>>>>>>> dbcc99c70bdcb36df46e20a2623a9a2424080318

  a.card.c4(href="/docs/#{lang}/#{vers}/api/")
    h2.text-headline.text-uppercase API Reference
    p An advanced reference of all Angular Classes, Methods, etc.

<<<<<<< HEAD
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase API 참고문서
          h2.text-headline.text-uppercase API Reference
          p 모든 Angular 클래스, 메소드, 등 심화 단계의 참고문서.
          p An advanced reference of all Angular Classes, Methods, etc.

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") API 살펴보기
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") View API
=======
    footer View API

.c4.secondary-content-list
  h4 Advanced Documentation
  ul
    li
      a(href="/docs/#{lang}/#{vers}/guide/ngmodule.html") Angular Modules
    li
      a(href="/docs/#{lang}/#{vers}/guide/animations.html") Animations
    li
      a(href="/docs/#{lang}/#{vers}/guide/attribute-directives.html") Attribute Directives
    li
      a(href="/docs/#{lang}/#{vers}/guide/browser-support.html") Browser Support
    li
      a(href="/docs/#{lang}/#{vers}/guide/component-styles.html") Component Styles
    li
      a(href="/docs/#{lang}/#{vers}/guide/ngmodule.html") View All...

.c4.secondary-content-list
  h4 Cookbook
  ul
    li
      a(href="/docs/#{lang}/#{vers}/cookbook/aot-compiler.html") Ahead-of-time Compilation
    li
      a(href="/docs/#{lang}/#{vers}/cookbook/a1-a2-quick-reference.html") Angular 1 to Angular 2
    li
      a(href="/docs/#{lang}/#{vers}/cookbook/ngmodule-faq.html") Angular Module FAQ
    li
      a(href="/docs/#{lang}/#{vers}/cookbook/component-communication.html") Component Interaction
    li
      a(href="/docs/#{lang}/#{vers}/cookbook/component-relative-paths.html") Component-Relative Paths
    li
      a(href="/docs/#{lang}/#{vers}/cookbook/") View All...

.c4.secondary-content-list
  h4 Tools & Libraries
  ul
    li
      a(target="_blank" href="https://github.com/angular/universal") Angular Universal
    li
      a(target="_blank" href="https://augury.angular.io/") Augury
    li
      a(target="_blank" href="https://github.com/jaxio/celerio-angular-quickstart") Celerio Angular Quickstart
    li
      a(target="_blank" href="https://github.com/mgechev/codelyzer") Codelyzer
    li
      a(target="_blank" href="https://github.com/johnpapa/lite-server") Lite-server
    li
      a(target="_blank" href="/resources/") View All...
>>>>>>> dbcc99c70bdcb36df46e20a2623a9a2424080318
